<!DOCTYPE html>
<html>
<head>
	<title>A video call App</title>
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		
	</script>
</head>
<body>
<button id="startButton">See your face </button>
<button id="callButton">Call </button>
<video id="localVideo" autoplay></video>
<video id="remoteVideo" autoplay></video>
<script src="js/call.js"></script>
</body>
</html>
