<!doctype html>
<html>
  <head>
      <meta charset="UTF-8">
      <title>FreeToCall</title>
    	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    	<!--Import materialize.css-->
    	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.js"></script>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-3 ">
        <a href="#"><i class="brand-logo">FreeToCall</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <div class="">
          <h1 class="center-align">Welcome to <span href="/login" class="green-text">FreeToCall</span></h1>
          </br>
          <h4 class="center-align">Please <a href="/login" class="green-text hoverable">Login</a> or <a href="/signup" class="green-text hoverable">Signup</a> to use our application.</h4>

      </div>
    </div>
  </body>
</html>
